/*Reset básico: serve para neutralizar estilo padroes de navegadores. Usando o seletor universal (*)*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
}

/* Pseudo elemento (utilizamos -- para marcar o identificador/nome da variável) */
:root{
    --bg-light: #FFFBF1; /* Background color */
    --bg-light-med: #FFF2D0; /* Cor base de sombreamento */
    --primary: #FFB2B2;
    --primary-inv: #967171; /* Cor primária hover */
    --primary-bg: #db7676; /* Cor primária hover */
    --text-main: #5c4545; /* Cor para textos principais ou gerais */
    --text-title: #302525; /* Cor para títulos */

    --titulo-main: 4rem; /* Tamanho para títulos principais */
    --sub-titulo: 3rem; /* Tamanho para sub títulos */
}

html{
    /* font-size: 100% = 16px */
    font-size: 62.5%; /* 10px */
}
body{
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}